body{
    border-color: black;
    background-color: #f8dda1;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
h1{
    text-align: center;
}
.topnav{
    position: relative;
    background-color: #ff4757;
    color: white;
    text-align: center;
    padding: 10px 10px;
    margin: 0px auto;
    height: 50px;
    background-color: #e8c77e;
}
#session {
    top:0;
    padding-top:0;
    position:relative;
    margin:0;
}
.conc{
    background-color: #dbaa3e;
    width: 80vw;
    height: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.bib{
    background-color: #dbaa3e;
    width: 80vw;
    height: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    height: 45px;
    padding: auto;
    vertical-align: center;
}
button{
    background: none;
    border: none;
}
button:hover{
    cursor: pointer;
}