body{
    border-color: black;
    background-color: #f8dda1;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 300vh;
    position: absolute;
    font-family: "Montserrat", sans-serif;
}
.container{
    display: flex;
    width: 100%;
}
.body-left{
    flex: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-right{
    flex: 60%;
    padding: auto auto;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    vertical-align: center;

}
h1{
    text-align: center;
    position: fixed;
}
#session {
    top:0;
    padding-top:0;
    position:relative;
    margin:0;
}
h2{
    text-align: center;
}
.box{
    width: fit-content;
    height: 50vh;
    background-color: #2c1515;
    place-self: center;
    place-items: center;
}
.graph{ 
    margin-top: 1vh;
    height: 48vh;
}
.navigation-strip{
    position: relative;
    background-color: #ff4757;
    color: white;
    text-align: center;
    padding: 10px 10px;
    margin: 0px auto;
    height: 50px;
    background-color: #e8c77e;
}
.logo{
    height: 45px;
    padding: auto;
    vertical-align: center;
}
.box3{
    width: fit-content;
    height: 50vh;
    background-color: #2c1515;
    place-self: center;
    place-items: center;
}
button{
    background: none;
    border: none;
}
button:hover{
    cursor: pointer;
}
